@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .my-custom-style-text-shadow {
      text-shadow: 0px 1px 0px #0f172a /* slate-900 */;
   }
}

body {
   background: linear-gradient(180deg, #1e293b, #0f172a); /* slate-900 e 950 */
   font-family: 'Space Grotesk', sans-serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
   width: 20px;
   height: 10px;
}
body::-webkit-scrollbar-thumb {
   background-color: #64748b; /* slate-500 */
   border: 5px solid #0f172a; /* slate-900 */
   border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:active {
   background-color: #475569; /* slate-600 */
}
